.overall
 {
 display: flex;
 backgroundImage:  url("images/skyline.jpg");
 /*background-size: cover;*/
 /*padding: 20px;*/
 /*text-shadow: 1px 1px #F68D2E;*/
 }

.btn{
 border: none;
 border-radius: 10px;
 padding: 10px 14px;
 font-size: 16px;
 cursor: pointer;
 display: inline-block;
 background: red;
}
#icon
{

}
/*.rel{*/
/* width: 5px;*/
/* height: 5px;*/
/*}*/

.btn:hover{
 background: darkred;
}
/*#style_image {*/
/* max-width: 100%;*/
/* max-height: 10%;*/
/*}*/